body{
    background-color: black;
}
.content{
    position: relative;
    min-width: 300px;
    min-height: 600px;
}

.content * {
        background-color: silver;
        border: 2px solid whitesmoke;
}
#input-box {
    min-width: 100%;
    height: 42px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#input-box textarea{
    padding-top: 10px;
    padding-left: 10px;
    resize:none;
    width: 80%;
    /* height: 42px; */
    border:none;
    border-right: 1px solid whitesmoke;
}
input[type="submit"].text-submit{
    width: 18%;
    height: 42px;
    background-color: beige;
    border: 1px groove whitesmoke;
}
input[type="submit"].text-submit:hover{
    cursor: pointer;
    background-color: silver;
    border-radius: 5px;
}

#text-display{
    min-width: 250px;
    height: 520px;
    overflow: scroll;
    word-break: break-word;
}

.user-input{
    background-color: rgba(255, 241, 42, 0.781);
    border-color: 2px solid black;
    border-radius: 10px;
    margin-right: 2px;
    width: 80%;
    max-width: 600px;
    padding: 4px;
    /* margin: 2px; */
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}
.bot-input{
    background-color: rgba(79, 255, 240, 0.747);
    border-color: 2px solid black;
    border-radius: 10px;
    align-self: flex-start;
    width: 80%;
    max-width: 600px;
    padding: 4px;
    margin: 2px;
}